<h1><%= t(:credit_details).capitalize%></h1>

<p>Credit: R$ <%= @credit.loan.to_s %></p>
<p>Tax: <%= @credit.tax.to_s %>%</p>
<p>Months: <%= @credit.periods %></p>
<p>Parcel: R$ <%= @credit.parcel %></p>
<% if admin_signed_in? %>
  <p> 
    <%= link_to 'Accept', accept_credit_path(id: @credit.id) , method: :post %>
  </p>
<% end %>
<p>Status: <%= @credit.already_accepted ? t(:accepted) : t(:pending) %></p>
<p><%= @credit.already_accepted ? t(:error_accepted) : t(:notice_accepted) %></p>

<% if requester_signed_in? %>
<p>
  <%= link_to t(:edit).capitalize, edit_credit_path(@credit)%> | 
  <%= link_to t(:delete).capitalize, credit_path(@credit) , method: :delete %>
</p>
<% else %>
<p>
  <%= link_to 'Requester', requester_path(@credit.requester) %> | 
  <%= link_to t(:edit).capitalize, edit_credit_path(@credit)%> | 
  <%= link_to t(:delete).capitalize, credit_path(@credit) , method: :delete %>
</p>
<% end %>

<% unless @credit.parcels.empty? %>
  <hr>
  <h3>Parcels:</h3>
<% end %>

<p>
  <% @credit.parcels.each do |parcel| %>
    <p>
      <p>Nº <%= parcel.position %></p>
      <p>Status: <%= parcel.paid ? 'Paid' : 'Not Paid' %></p>
      <p>Value: R$ <%= parcel.value.to_s %></p>
      <p>Expiring Date: <%= parcel.expiring_date.strftime("%d/%m/%Y") %></p>
    </p>
  <% end %>
</p>