<%= form_with model: @address, local: true do |f| %>


  <div><%= t(:only_numbers) %></div>
  <div>
    <%= f.label :requester_zip_code, t(:requester_zip_code) %>
  </div>
  <div>
    <%= f.text_field(:requester_zip_code, placeholder: ex:'01001000') %>
  </div>

  <br>

  <div><%= t(:only_numbers) %></div>
  <div>
    <%= f.label :number, t(:number) %>
  </div>
  <div>
    <%= f.number_field(:number, placeholder: ex:'123') %>
  </div>
  
  <br>
  
  <div>
    <%= f.submit "Save", class: 'btn btn-outline-secondary' %>
  </div>

<% end %>