<h2>Addresses</h2>
<% if @addresses.empty? %>
  <p>No Address number yet...</p>
<% end %>

<%= link_to 'Add Address' , new_address_path %>

<hr>

<% @addresses.each_with_index do |address, index| %>
  <p>
    <p><%= index + 1 %>ยบ</p>
    <p><%= address.street %></p>
    <p>nยบ <%= address.number %></p>
    <p>
      <%= link_to 'Details', address_path(address) %> |
      <%= link_to 'Edit', edit_address_path(address)%> | 
      <%= link_to 'Delete', address_path(address), method: :delete %>
    </p>
  </p>
<% end %>