<!DOCTYPE html>
<html>
  <head>
    <title>ParcelChallenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header"%>
    <div>
      <%= render "shared/messages/messages"%>
    </div>
    <div class="row align-items-center justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
